<div class="row">
  <div class="col-sm-6 ">
    <h5>Play with Noblyn, just paste this code</h5>
    <h3>CODE</h3>
      <h3>
        {{code}}
      </h3>
      <button type="button" class="btn btn-primary" name="button">COPY</button>
  </div>

  <div class="col-xs-6">
    <h5>Don't have the app? Get it here</h5>
    <div class="row">
      <a href="" class="col-xs-6 text-center">
         <img src="https://api.noblyn.com/assets/img/badges/appStore.svg" class="img-responsive">
      </a>
      <a href="" class="col-xs-6 text-center">
        <img src="https://api.noblyn.com/assets/img/badges/googlePlay.png" class="img-responsive">
      </a>
  </div>
  </div>
</div>
